.container {
    display: flex;
    text-align: center;
    
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .splashcontainer {
        flex-direction: column;
    }
    .titlebox {
        margin-top: 0em;
    }
}
.container div {
    flex: 1;
}

h4 {
    color: antiquewhite;
    font-size: 1.5em;
    text-align: center;

}

.header {
    background-color: lightblue;
    overflow: auto;
    position: fixed;
    width: 100%;
}

h1 {
    color: antiquewhite;
    font-size: 5em;
    margin-top: 0%;
    margin-bottom: -.35em;
    
}

.titlebox {
    margin-bottom: 1em;
}
    
    

   


h2 {
    text-align: left;
    font-size: 1.5em;
    padding-bottom: 2em;
    padding-left: .5em;
    color: lightblue;
}

.container img {
    height: 6em;
    width: 8em;
    
}

.html {
    font-family: Arial, Helvetica, sans-serif;
}

.splashcontainer {
    display: flex;
    align-items: center;
    
    
}

.splashcontainer div {
    flex: 1;
}

.splashcontainer img {
    max-width: 100%;
    min-width: 400px;
}

.titlebox {
    padding-top: 15%;
    padding-left: 2em;
    
}

@media (min-width: 768px) {
    .titlebox {
        padding-top: 15%;
    }
}

@media (max-width: 768px) {
    .titlebox {
        padding-top: 0.5em;
    }
}

h3 {
    color: lightblue;
}









.main {
    overflow: auto;
    background-color: antiquewhite;
    background-size: cover;
    background-blend-mode: color;
}
    
